<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>LoginFilter</filter-name>
        <filter-class>controller.authentication.LoginFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>LoginFilter</filter-name>
        <url-pattern>/resident/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.authentication.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListBuildingController</servlet-name>
        <servlet-class>controller.resident.ListBuildingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListApartmentController</servlet-name>
        <servlet-class>controller.resident.ListApartmentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListResidentController</servlet-name>
        <servlet-class>controller.resident.ListResidentController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListVaccineController</servlet-name>
        <servlet-class>controller.resident.ListVaccineController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListF1F2Controller</servlet-name>
        <servlet-class>controller.resident.ListF1F2Controller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListBuildingController</servlet-name>
        <url-pattern>/resident/listbuilding</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListApartmentController</servlet-name>
        <url-pattern>/resident/listapartment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListResidentController</servlet-name>
        <url-pattern>/resident/listresident</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListVaccineController</servlet-name>
        <url-pattern>/resident/listvaccine</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListF1F2Controller</servlet-name>
        <url-pattern>/resident/listF1F2</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
