/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 23, 2021, 11:37:26 PM
    Author     : Tung
*/

.pagger a{
    border-color: blue;
    margin-left: 5px;
    border: 1px solid blue;
    padding: 5px
}
.pagger span{
    margin-left: 5px;
     border: 1px solid blue;
    font-weight: bold;
    background-color: yellow;
     padding: 5px
}
