/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 29, 2021, 9:04:26 PM
    Author     : Tung
*/

.container img{
    width: 20%;
    height: 20%;
}